body.home{
    background: url("../images/achtergrond.png") no-repeat center center fixed;
    background-size: cover;
}

body.aboutme {
    background: url("../images/aboutmeachtergrond.jpg") no-repeat center center fixed;
    background-size: cover;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    min-height: 70px;
    background-color: azure;
    font-family: 'Poppins', sans-serif;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 300%;
}

.nav-links a {
    color: black;
    text-decoration: none;
    text-spacing: 5px;
}

.hometext {
    max-width: 800px;
    margin: 0 auto;
    padding: 3px;
    margin-top: 40px;
    text-align: center;
}

h1 {
    color: steelblue;
    font-size: 80px;
    font-weight: 700;
    letter-spacing: 8px;
    margin-bottom: 2px;
}

h2 {
    color: #777;
    font-size: 35px;
    font-weight: 250;
}

.image {
    margin-top: 10px;
    margin-bottom: 5px;
}

.img-rounded {
    border-radius: 50%;
}

.img-social {
    width: 50px;
    height: 50px;
}

p {
    font-size: 40px;
    color: azure;
    line-height: 70px;
    margin-bottom: 30px;
    text-align: center;
}

a:hover {
    color: steelblue;
}

.grid-container {
    display: grid;
    grid-template-columns: auto 50% auto;
    padding: 10px;
}

.grid-item {
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

.aboutme-header {
    color: azure;
    font-size: 80px;
    font-weight: 700;
    letter-spacing: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid-aboutme {
    font-size: 60px;
    font-family: Ebrima;
    color: azure;
    text-align: center;
}


